@media (max-width: 768px) {
  .roomBodyBox {
    flex-direction: column;
  }

  .roomDetail {
    padding: 0.5rem 1.4rem !important;
  }
}


.roomInfoCard {
  padding: 1rem;
  margin: 0 auto;
}

.roomIntroBox {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.roomImg {
  max-width: 80%;
}

.roomIntroContent {
  padding-top: 1rem;
}

.roomIntroContent > h1 {
  letter-spacing: 1px;
}

.roomIntroContent > p {
  padding: 2rem 0 1rem;
  border-bottom: 1px solid #DAD2C9;
}

.roomBodyBox {
  display: flex;
  padding-top: 1rem;
}

.roomInfoItem-left {
  flex: 3;
}

.roomInfoItem-right {
  flex: 2;
}

.roomInfoContent {
  padding: 1rem 1rem 2rem 1rem;
}

.roomInfoListWrap {
  display: flex;
}

.roomInfoList {
  padding: 1rem 0;
  flex: 1;
  font-size: 1.05rem;
}

.roomInfoList >p:first-child {
  padding: 0.5rem 0;
  margin-bottom: 0.3rem;
  width: 80%;
  font-weight: 600;
  border-bottom: 1px solid #DAD2C9;
}

.roomService {
  margin-top: 0.5rem;
  padding-top: 1rem;
  width: 90%;
  line-height: 2rem;
  border-top: 1px solid #DAD2C9;
}

.roomService p::before {
  content: "•";
  margin-right: 0.4rem;
}

.roomDetail {
  padding: 1.2rem 1.4rem;
  margin: 1rem 0 0.5rem 0;
  line-height: 1.8rem;
  border-left: 4px solid #A2B29F;
  border-radius: 5px;
  background: #F7F5F2;
}

.roomDetail > p::before {
  content: "✓";
  color: #6C8B74;
  font-weight: bold;
  margin-right: 0.4rem;
}

.toRsvnBtn {
  margin-top: 2rem;
}