.rsvnResultCard {
  border: 1px solid #A7BCC5;
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
}

.rsvnResultTitle {
  border-bottom: 1px solid #A7BCC5;
  color: #2B4F60;
}

.rsvnResultCardItem {
  padding: 1rem;
  margin-top: 1rem;
  background: #F7F5F2;
  border-radius: 5px;
}

.rsvnResultCardItem h4 {
  color: #5B6D74;
}

.rsvnResultCardItem p {
  padding-top: 0.5rem;
}

.rsvnResultCardItem h4:nth-child(3) {
  padding-top: 1rem;
}

.rsvnBkfAdd-notOnly {
  padding-top: 1rem;
}