/* pc 사이즈 : 네비게이션 바 */
@media screen and (min-width:768px) {
  :root {
    font-size: 16px;
  }
}

/* 모바일 사이즈 : 햄버거 버튼 */
@media screen and (max-width:767px) {
  :root {
    font-size: 10px;
  }
}


/* 사이즈 공통 */
.hide {
  display: none;
}

.btnDisabled {
  background: gray;
  pointer-events: none;
}