/* pc 사이즈 : 네비게이션 바 */
@media screen and (min-width:768px) {
  :root {
    font-size: 16px;
  }
}

/* 모바일 사이즈 : 햄버거 버튼 */
@media screen and (max-width:767px) {
  :root {
    font-size: 10px;
  }
}

/* 사이즈 공통 */
.hide {
  display: none;
}

.tabBtn {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.tabBtnSelected { 
  background: pink;
}


.cardBox {
  display: flex;
  padding: 1rem;
  background: white;
  border-bottom: 1px solid #DAD2C9;
}




img {
  width: 18rem;
}

.selectBtn {
  display: inline-block;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.selectBtn:hover {
  background: skyblue;
}