@font-face {
  font-family: 'GowunDodum-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 16px;
}

/* == pc 사이즈 == */
@media screen and (min-width: 768px) {
  .hotelImage {
    height: 30rem;
  }

  .eventImg {
    height: 30rem !important;
  }

  .eventTextOverlay {
    top: 0;
    left: 0;
    padding: 4rem;
    font-size: 1.5rem;
  }

  .eventTitle {
    font-size: 2.5rem;
    padding: 0 1rem 0 0.5rem;
  }

  .eventBanner {
    padding-top: 1rem;
    padding-left: 0.5rem;
  }

  .eventBannerBenefit {
    padding-left: 0.5rem;
  }

  .carouselBtn-pre, .carouselBtn-next {
    padding: 0 3rem;
    font-size: 2rem;
  }

  .carouselIndexBtn p {
    padding: 0 2rem;
    font-size: 1rem;
  }

  .intro {
    display: flex;
  }

  .introImg {
    width: 31.2rem;
    height: 31.2rem;
    margin-left: 6.2rem;
  }

  .introBox {
    width: 34.4rem;
    padding-top: 9.4rem;
  }

  .introBox .moreInfo {
    margin: 1.2rem 1.9rem;
  }

  .introText {
    font-size: 1.2rem;
  }

  .hotelInfoCard {
    margin: 1.6rem 0;
    padding: 3.1rem;
  }

  .hotelInfoCard-left {
    margin-right: 0.6rem;
  }

  .hotelInfoCard-right {
    margin-left: 0.6rem;
  }

  .hotelInfoDetail {
    width: 20rem;
    margin-top: 1.9rem;
  }

  .hotelInfoDetail .moreInfo {
    margin-top: 1.2rem;
  }
}

/* == 모바일 사이즈 == */
@media screen and (max-width: 767px) {
  .hotelImage {
    height: 20rem;
  }
  
  .eventImg {
    height: 20rem !important;
  }

  .eventTextOverlay {
    bottom: 0;
    left: 0;
    padding: 1.5rem;
    font-size: 1rem;
  }

  .eventTitle {
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0.3rem;
  }

  .eventBanner {
    padding-top: 0.5rem;
    padding-left: 0.3rem;
  }

  .eventBannerBenefit {
    padding-left: 0.3rem;
  }

  .carouselBtn-pre, .carouselBtn-next {
    padding: 0 2rem;
    font-size: 2.5rem;
  }

  .carouselIndexBtn p {
    padding: 0 1rem;
    font-size: 0.9rem;
  }

  .introImg {
    height: 30rem;
    margin: auto;
  }

  .introBox {
    height: auto;
    margin: auto;
    text-align: center;
  }

  .introBox .moreInfo {
    margin: 0.9rem 1.9rem;
  }

  .introText {
    font-size: 1rem;
  }

  .hotelInfo {
    flex-wrap: wrap;
    padding: 0.9rem;
  }

  .hotelInfoCard {
    display: flex;
    align-items: end;
    padding: 1.9rem;
  }

  .hotelInfoCard-left {
    margin: 1.9rem 0 0.6rem;
  }

  .hotelInfoCard-right {
    margin: 0.6rem 0 1.9rem;
  }

  .hotelInfoDetail {
    position: absolute;
    text-align: left;
    width: 18.8rem;
    padding: 0.6rem;
    background: #f7f5f2d3;
    font-size: 0.9rem;
  }

  .hotelInfoDetail .moreInfo {
    margin-top: 0.6rem;
    padding: 0.3rem;
  }
}

/* == 사이즈 공통 == */
body, .mainPage {
  overflow-x: hidden;
}

.hotelImage {
  background-position: center center;
  background-size: cover;
}

/* 이벤트 캐러셀 */
.eventBox {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  justify-content: center;
}

.eventCarousel {
  max-width: 80rem;
  width: 100%;
  overflow: hidden;
  flex: 0 0 100%;
  margin: 0 auto;
}

.eventWidth {
  display: flex;
  transition: all 1s ease;
}

.eventInfo {
  position: relative;
  min-width: 100%;
}

.eventImg {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  background-position: center bottom;
  background-size: cover;
}

.eventTextOverlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: white;
}

.eventTitle {
  font-family: 'GowunDodum-Regular';
  font-style: italic;
  color: #6C8B74;
  background: white;
}

.eventBanner {
  flex: 1;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.eventBannerBenefit {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.carouselBtn {
  display: flex;
  justify-content: center;
  margin: 1rem;
  color: #DAD2C9;
  cursor: pointer;
}

.carouselBtn-pre,
.carouselBtn-next {
  color: #D8BCA3;
}

.carouselIndexBtn {
  display: flex;
  align-items: center;
}

.colorIndexBtn {
  color: #C7925D;
}

/* 호텔 소개 */
.intro {
  justify-content: center;
  padding: 1.9rem 0;
  background: white;
}

.introImg {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.introText > p {
  font-family: 'GowunDodum-Regular';
  font-weight: bold;
  padding: 0.6rem 1.9rem;
}

.moreInfo {
  font-family: 'GowunDodum-Regular';
  display: inline-block;
  padding: 0.6rem;
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

.moreInfo:hover {
  background: #C7925D;
  border: 1px solid #C7925D;
  color: white;
}

.hotelInfo-main {
  display: flex;
  justify-content: center;
  background: #DAD2C9;
}

.hotelInfoCard {
  text-align: center;
  background: white;
  font-size: 1.1rem;
  font-family: 'GowunDodum-Regular';
}

.sampleImg {
  display: inline-block;
  width: 18.8rem;
  height: 18.8rem;
  background-size: cover;
}
