/* pc 사이즈 : 네비게이션 바 */
@media screen and (min-width:768px) {
  :root {
    font-size: 16px;
  }

  .rsvnRoom {
    padding-top: 110px;
  }
  
}

/* 모바일 사이즈 : 햄버거 버튼 */
@media screen and (max-width:767px) {
  :root {
    font-size: 10px;
  }
  .rsvnRoom {
    padding-top: 70px;
  }
}


/* 사이즈 공통 */
.rsvnWrap2 {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 80rem;
  margin: 0 auto 100px;
  /* overflow: hidden; */
  
  background: moccasin;
}