@font-face {
    font-family: 'Arita-buri-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-buri-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* pc 사이즈 : 네비게이션 바 % 로그인 및 예약하기 */
@media screen and (min-width:768px) {
  .logo > p {
    font-size: 0.8em;
  }

  .subNav {
    width: 100%;
    height: 40px;
    top: 70px;
    left: 0;
    
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: center;
    border-top: 1px solid white;

    background: #2A4D5F;
    color: white;
  }

  .subNavList {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
  }

  .subNavList > li {
    padding: 5px 45px;
    cursor: pointer;
  }

  .subNavList > li:hover {
    color: #C7925D;
  }

  .burgerIcon {
    visibility: hidden;
  }

  .rightMenu .reserve-small {
    display: none;
  }

  .rightMenuItem {
    font-size: 14px;
    cursor: pointer;
  }

  .burgerMenu, .burgerMenuList {
    display: none;
  }
}

/* 모바일 사이즈 : 햄버거 버튼 & 예약 버튼 */
@media screen and (max-width:767px) {
  .logo > h1 {
    font-size: 1.7em;
  }

  .logo > p {
    font-size: 0.5em;
  }

  .subNav {
    display: none;
  }

  .burgerIcon {
    font-size: 25px;
    visibility: visible;
    cursor: pointer;
  }

  .rightMenuItem {
    display: none;
  }
  
  .rightMenu .reserve-small {
    display: inline-block;
    padding: 0.7vw 1.5vw;
    border-radius: 1vw;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    font-size: 1em;
    font-weight: 500;
  }

  .rightMenu .reserve-small:hover {
    background: white;
    color: #2A4D5F;
  }

  .burgerMenu.show {
    background: rgba(0, 0, 0, 0.5);
  }

  .burgerMenu {
    display: block;
    position: fixed;
    margin-top: 70px;
    width: 100%;
    height: 100vh;
    z-index: 100;
  }

  .burgerMenuList.show {
    transform: translateX(0);
  }
  
  .burgerMenuList {
    width: 280px;
    height: 100%;
    margin-top: 70px;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    
    list-style-type: none;
    background: white;
  }

  .burger-logIn {
    width: 280px;
    padding: 30px;
    cursor: pointer;
    color: #C7925D;
    border-bottom: 1.5px solid #C7925D;
  }

  .burger-logIn:hover {
    color: white;
    background: #C7925D;
  }

  .burgerMenuList > li {
    padding: 25px 40px;
    cursor: pointer;
  }

  .burgerMenuList > li:hover {
    font-weight: 500;
    color: #2A4D5F;
    background: #DAD2C9;
  }

}

/* 사이즈 공통 */
.nav {
  background-color: #2A4D5F;
  color: white;
  
  width: 100%;
  height: 70px;
  left: 0;
  position: fixed;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.logo {
  font-family: 'Arita-buri-SemiBold';
  text-align: center;
}

.leftMenu {
  flex: 1;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.rightMenu > p {
  margin: 5px;
  padding: 3px;
}