@media screen and (min-width:768px) {
  .subNav {
    width: 100%;
    height: 40px;
    top: 60px;
    left: 0;
    
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    border-top: 1px solid white;

    background: #2A4D5F;
    color: #F7F5F2;
  }

  .subNavList {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 70px;
  }

  .subNavList li {
    padding: 5px;
  }

  .burgerIcon {
    visibility: hidden;
  }

  .rightMenu .reserve-small {
    display: none;
  }

  .burgerMenuList {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .subNav {
    display: none;
  }

  .burgerIcon {
    font-size: 28px;
    visibility: visible;
  }

  .logIn, .reserve {
    display: none;
  }
  
  .rightMenu .reserve-small {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    background: #F7F5F2;
    color: #2A4D5F;
    font-size: large;
  }

  .show {
    display: block;
  }

  .burgerMenu {
    display: none;
    background: skyblue;
  }
}

.nav {
  background-color: #2A4D5F;
  color: #F7F5F2;
  
  width: 100%;
  height: 60px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.logo > h1 {
  font-family: 'Playfair Display', serif;
}

.leftMenu {
  flex: 1;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.rightMenu > p {
  margin: 5px;
  padding: 3px;
}