/* pc 사이즈 : 네비게이션 바 % 로그인 및 예약하기 */
@media screen and (min-width:768px) {
  .subNav {
    width: 100%;
    height: 40px;
    top: 60px;
    left: 0;
    
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    border-top: 1px solid white;

    background: #2A4D5F;
    color: #F7F5F2;
  }

  .subNavList {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    padding: 0 70px;
  }

  .subNavList li {
    padding: 5px;
  }

  .burgerIcon {
    visibility: hidden;
  }

  .rightMenu .reserve-small {
    display: none;

  }

  .burgerMenu, .burgerMenuList {
    display: none;
  }
}

/* 모바일 사이즈 : 햄버거 버튼 & 예약 버튼 */
@media screen and (max-width:767px) {
  .subNav {
    display: none;
  }

  .burgerIcon {
    font-size: 28px;
    visibility: visible;
    cursor: pointer;
  }

  .nav-logIn, .reserve {
    display: none;
  }
  
  .rightMenu .reserve-small {
    display: inline-block;
    padding: 7px 15px;
    border-radius: 5px;
    background: #F7F5F2;
    color: #2A4D5F;
    font-size: large;
  }

  .burgerMenu.show {
    background: rgba(0, 0, 0, 0.5);
  }

  .burgerMenu {
    display: block;
    position: fixed;
    margin-top: 60px;
    width: 100%;
    height: 100vh;
    z-index: 999;
  }

  .burgerMenuList.show {
    transform: translateX(0);
  }
  
  .burgerMenuList {
    width: 280px;
    height: 100%;
    margin-top: 60px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
    
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    
    list-style-type: none;
    background: #F7F5F2;
  }

  .burger-logIn {
    width: 280px;
    padding: 30px;
    margin-bottom: 10px;
    color: #C7925D;
    border-bottom: 1.5px solid #C7925D;
  }

  .burgerMenuList > li {
    padding: 25px 40px;
  }
}

/* 사이즈 상관없음 */
.nav {
  background-color: #2A4D5F;
  color: #F7F5F2;
  
  width: 100%;
  height: 60px;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.logo > h1 {
  font-family: 'Playfair Display', serif;
}

.leftMenu {
  flex: 1;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.rightMenu > p {
  margin: 5px;
  padding: 3px;
}