* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

html {
  font-size: 62.5%;
}

/* pc 사이즈 : 네비게이션 바 */
@media screen and (min-width:768px) {
  :root {
    font-size: 16px;
  }

}

/* 모바일 사이즈 : 햄버거 버튼 */
@media screen and (max-width:767px) {
  :root {
    font-size: 10px;
  }

}